[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
pytest = "*"
black = "*"
eth-tester = "*"
pytest-cov = "*"
py-evm = "*"

[packages]
vyper = "==0.1.0b12"
web3 = "*"
eth-utils = "*"
python-dateutil = "*"

[requires]
python_version = "*"

[pipenv]
allow_prereleases = true
