[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipdb = "*"
pytest = "*"
black = "*"
eth-tester = "==v0.4.0b1"
pytest-cov = "*"
py-evm = "==v0.3.0-alpha.13"
vyper = {path = "vyper"}

[packages]
web3 = "*"
eth-utils = "*"
python-dateutil = "*"

[requires]
python_version = "*"

[pipenv]
allow_prereleases = true
